/* martian-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/inter-v18-latin/inter-v18-latin-regular.woff2")
    format("woff2");
}
/* martian-mono-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/inter-v18-latin/inter-v18-latin-600.woff2")
    format("woff2");
}
/* martian-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/inter-v18-latin/inter-v18-latin-700.woff2")
    format("woff2");
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/inter-v18-latin/inter-v18-latin-regular.woff2");
}
/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/inter-v18-latin/inter-v18-latin-600.woff2")
    format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/inter-v18-latin/inter-v18-latin-700.woff2")
    format("woff2");
}

/* CSS RESET — Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  /* colors */
  --clr-neutral-0: hsl(0, 0%, 100%);
  --clr-neutral-100: hsl(17, 41%, 97%);
  --clr-neutral-200: hsl(17, 12%, 89%);
  --clr-neutral-700: hsl(195, 23%, 28%);
  --clr-neutral-900: hsl(194, 78%, 11%);

  --clr-salmon-50: hsl(23, 100%, 97%);
  --clr-salmon-100: hsl(22, 100%, 91%);
  --clr-salmon-500: hsl(22, 99%, 72%);

  --clr-gradient-accent: linear-gradient(
    to right,
    var(--clr-salmon-100),
    var(--clr-salmon-50)
  );
  --clr-gradient-titles: linear-gradient(
    to right,
    var(--clr-salmon-500),
    var(--clr-neutral-900)
  );

  /* font family */
  --ff-headings: "Martian Mono";
  --ff-body: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* font weights */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

/* REUSABLE STYLES */
.header--primary {
  font-family: var(--ff-headings);
  font-weight: var(--fw-700);
  font-size: 3.875rem;
  line-height: 1.2;
  letter-spacing: -2px;
}

.header--secondary {
  font-family: var(--ff-headings);
  font-weight: var(--fw-700);
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: -2px;
  color: var(--clr-neutral-900);
}

.small-bold-txt {
  font-family: var(--ff-headings);
  font-weight: var(--fw-400);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -1px;
  color: var(--clr-neutral-700);
}

.btn {
  border: 2px solid var(--clr-neutral-900);
  padding: 20px;
  border-radius: 8px;
  background: var(--clr-salmon-50);
  font-family: var(--ff-headings);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -1px;
  font-weight: var(--fw-600);
  cursor: pointer;
  transition: background 3s ease-in-out;
}

.btn:hover {
  background: var(--clr-gradient-accent);
}

.gradient-title {
  background: var(--clr-gradient-titles);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.d-flex {
  display: flex;
}

.grid-2cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}

.section-img {
  border-radius: 20px;
}

/* containers */
.container {
  --max-width: 69.375rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* PAGE STYLES */
body {
  font-family: var(--ff-body);
  line-height: 1.5;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  color: var(--clr-neutral-700);
}

/* header */
.header {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}

/* hero */
.hero {
  position: relative;
  padding-block: 9.25rem 80px;
  background-color: var(--clr-salmon-50);
  background-image: url(/assets/images/pattern-light-bg.svg);
  z-index: 1;
}

.hero::after {
  content: "";
  position: absolute;
  background-image: url(/assets/images/pattern-glow.svg);
  background-repeat: no-repeat;
  height: 40rem;
  width: 30rem;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.hero__title {
  max-width: 25rem;
}

.hero__description {
  margin-block: 24px 32px;
}

.btn--hero {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.reviews-wrapper {
  margin-top: 20px;
  gap: 12px;
}

.reviews__avatars {
  max-width: 110px;
  max-height: 40px;
}

.ratings {
  flex-direction: column;
}

.hero__img {
  border-radius: 8px;
}

/* features */
.features {
  background-color: var(--clr-neutral-0);
  padding-block: 120px;
}

.features__wrapper {
  align-items: center;
}

.features__header {
  max-width: 25rem;
  margin-bottom: 34px;
}

.features__content ul {
  padding: 0;
  list-style: none;
}

.features__content ul li {
  display: flex;
  align-items: center;
  gap: 24px;
}

.features__content ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.features__content ul li::before {
  content: url(/assets/images/icon-check.svg);
}
