/* martian mono latin 400, 600 and 700 */
@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/inter-v18-latin/inter-v18-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/inter-v18-latin/inter-v18-latin-600.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/inter-v18-latin/inter-v18-latin-700.woff2")
    format("woff2");
}

/* inter latin 400, 600 and 700 */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/inter-v18-latin/inter-v18-latin-regular.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/inter-v18-latin/inter-v18-latin-600.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/inter-v18-latin/inter-v18-latin-700.woff2")
    format("woff2");
}

/* CSS RESET — Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  /* colors */
  --clr-neutral-0: hsl(0, 0%, 100%);
  --clr-white--hover: rgba(255, 255, 255, 0.2);
  --clr-neutral-100: hsl(17, 41%, 97%);
  --clr-neutral-200: hsl(17, 12%, 89%);
  --clr-neutral-700: hsl(195, 23%, 28%);
  --clr-neutral-900: hsl(194, 78%, 11%);
  --clr-salmon-50: hsl(23, 100%, 97%);
  --clr-salmon-100: hsl(22, 100%, 91%);
  --clr-salmon-500: hsl(22, 99%, 72%);
  /* gradients */
  --clr-gradient-accent: linear-gradient(
    to right,
    var(--clr-salmon-100),
    var(--clr-salmon-50)
  );
  --clr-gradient-titles: linear-gradient(
    to right,
    var(--clr-salmon-500),
    var(--clr-neutral-900)
  );

  /* font family */
  --ff-headings: "Martian Mono";
  --ff-body: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font weights */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

/* REUSABLE STYLES */

/* headings and text */
.header--primary,
.header--secondary {
  word-spacing: 0.9375rem;
}

.header--primary {
  font-family: var(--ff-headings);
  font-weight: var(--fw-700);
  font-size: 3.875rem;
  line-height: 1.2;
  letter-spacing: -2px;
}

.header--secondary {
  font-family: var(--ff-headings);
  font-weight: var(--fw-700);
  font-size: 3.125rem;
  line-height: 1.3;
  letter-spacing: -2px;
  color: var(--clr-neutral-900);
}

@media screen and (max-width: 48rem) {
  .header--primary {
    font-size: 2.375rem;
    font-size: clamp(
      2.375rem,
      0.9437022900763359rem + 6.106870229007634vw,
      3.875rem
    );
  }
  .header--secondary {
    font-size: 2.125rem;
    font-size: clamp(
      2.125rem,
      1.170801526717557rem + 4.071246819338422vw,
      3.125rem
    );
  }
}

.gradient-text {
  background: var(--clr-gradient-titles);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circled-text-decoration {
  position: relative;
}

.circled-text-decoration::after {
  content: "";
  background-image: url(/assets/images/pattern-circle.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 10rem;
  height: 4.125rem;
  top: 0;
  left: -1.25rem;
  z-index: 1;
}

/* buttons */
.btn {
  font-family: var(--ff-headings);
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: -1px;
  font-weight: var(--fw-600);
  color: var(--clr-neutral-900);
  text-transform: uppercase;
  border: 2px solid var(--clr-neutral-900);
  padding: 1.25rem;
  border-radius: 8px;
  background-color: var(--clr-salmon-50);
  cursor: pointer;
  transition: background 3s ease-in-out;

  /* arrow icon */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn:hover {
  background: var(--clr-gradient-accent);
}

.btn--white {
  background-color: transparent;
  border-color: var(--clr-neutral-0);
  color: var(--clr-neutral-0);
  display: flex;
  gap: 1rem;
}

.btn--white:hover {
  background: linear-gradient(to right, var(--clr-white--hover), transparent);
}

/* display and grids */
.d-flex {
  display: flex;
}

.grid-2cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

@media screen and (max-width: 768px) {
  .grid-2cols {
    grid-template-columns: 1fr;
  }
}

/* images */
.section-img {
  border-radius: 20px;
}

/* containers */
.container {
  --max-width: 69.375rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* sections */
.section--white {
  background-color: var(--clr-neutral-0);
}

.main .section:nth-child(even) {
  padding-block: 7.5rem;
}

/* salmon light bg */
.salmon-light-bg {
  background-image: url(/assets/images/pattern-light-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-salmon-50);
}

/* COMPONENTS */

/* ratings component */
.reviews-wrapper {
  margin-top: 1.25rem;
  gap: 0.75rem;
}

.reviews-avatars {
  width: 6.875rem;
  height: 2.5rem;
}

.ratings-wrapper {
  flex-direction: column;
}

.ratings-text {
  font-family: var(--ff-headings);
  font-weight: var(--fw-400);
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -1px;
  color: var(--clr-neutral-700);
}

.ratings-text--white {
  color: var(--clr-neutral-0);
}

/* lists with checkbox image */
.list__content ul {
  padding: 0;
  list-style: none;
}

.list__content ul li {
  display: flex;
  gap: 1.5rem;
}

.list__content ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.list__content ul li::before {
  content: url(/assets/images/icon-check.svg);
  align-self: center;
  height: 1.75rem;
  width: 1.75rem;
}

/* PAGE STYLES */
body {
  font-family: var(--ff-body);
  font-size: 1.25rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--clr-neutral-700);
}

/* header */
.header {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}

/* hero */
.hero {
  padding-block: 9.25rem 5rem;
  position: relative;
  z-index: 1;
}

.hero__title {
  max-width: calc(12ch - 0.9375rem);
}

.hero__description {
  margin-block: 1.5rem 2rem;
}

.hero__img {
  border-radius: 8px;
}

/* blue glow */
.hero::after {
  content: "";
  position: absolute;
  background-image: url(/assets/images/pattern-glow.svg);
  background-repeat: no-repeat;
  height: 40rem;
  width: 30rem;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* features */
@media screen and (max-width: 48rem) {
  .features__content {
    grid-row: 1 / 2;
  }
}

.features__wrapper {
  align-items: center;
}

.features__title {
  margin-bottom: 2.125rem;
  max-width: calc(13ch - 0.9375rem);
}

/* why */
.why__title {
  max-width: calc(14ch - 0.9375rem);
  margin-bottom: 1.5rem;
}

.why__img-wrapper {
  position: relative;
}

.why__img-wrapper::after {
  content: "";
  background-image: url(/assets/images/logos-tech.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 7.5rem;
  height: 8.625rem;
  bottom: 0;
  left: clamp(-5rem, 1.4912rem + -9.3567vw, -3rem);
}

@media screen and (max-width: 48rem) {
  .why__img-wrapper::after {
    --fluid-placing: clamp(1rem, -0.9084rem + 8.1425vw, 3rem);

    left: initial;
    bottom: var(--fluid-placing);
    right: var(--fluid-placing);
  }
}

@media screen and (max-width: 23.4375rem) {
  .why__img-wrapper::after {
    display: none;
  }
}

/* journey */
@media screen and (max-width: 768px) {
  .journey-section {
    display: none;
  }
}

.journey__wrapper {
  padding: 5rem 3.75rem;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.journey__wrapper::after {
  content: "";
  position: absolute;
  background-image: url(/assets/images/pattern-glow.svg);
  background-repeat: no-repeat;
  height: 40rem;
  width: 40rem;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.journey__title {
  text-align: center;
  max-width: calc(13ch - 0.9375rem);
  margin-inline: auto;
  margin-bottom: 4rem;
}

.journey__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.journey__step {
  font-family: var(--ff-headings);
  font-weight: var(--fw-600);
  color: var(--clr-neutral-900);
  position: relative;
  display: grid;
  gap: 1.5rem;
}

.journey__arrow-img {
  position: absolute;
  top: 0;
  right: 0;
}

.journey__number-wrapper {
  --size: 2.5rem;
  border: 2px solid var(--clr-neutral-900);
  border-radius: 4px;
  width: var(--size);
  height: var(--size);
  padding: 0.25rem;

  display: grid;
  place-content: center;
}

/* pricing */
.pricing__title {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 4rem;
}

.pricing__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .pricing__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .pricing__grid {
    grid-template-columns: 1fr;
  }
}

/* Todo: check the height on the pricing cards. The middle card needs to be bigger */
.pricing__card {
  border: 1px solid var(--clr-neutral-200);
  border-radius: 8px;
  padding: 1.5rem;
  display: grid;
  gap: 1.5rem;
}

.pricing__card--highlighted {
  background-color: var(--clr-salmon-50);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.pricing__card--highlighted::after {
  content: "";
  position: absolute;
  background-image: url(/assets/images/pattern-glow.svg);
  background-repeat: no-repeat;
  height: 30rem;
  width: 30rem;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.pricing__plan {
  font-family: var(--ff-headings);
  font-weight: var(--fw-600);
  color: var(--clr-neutral-900);
  font-size: 1.5rem;
}

.pricing__divider {
  height: 1px;
  background-color: var(--clr-neutral-200);
  width: 100%;
}

.pricing__quantity {
  font-family: var(--ff-headings);
  font-weight: var(--fw-600);
  font-size: 2.125rem;
  color: var(--clr-neutral-900);
}

.pricing__price-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pricing__btn {
  justify-content: center;
}

/* quote */
.quote {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quote__content {
  font-family: var(--ff-headings);
  font-weight: var(--fw-600);
  font-size: 2.125rem;
  max-width: 60.625rem;
  color: var(--clr-neutral-900);
  margin-top: 2rem;
}

.quote__author {
  font-family: var(--ff-body);
  font-size: 1.25rem;
  color: var(--clr-neutral-700);
  display: block;
  margin-top: 2rem;
}

/* cta */
.cta {
  background-image: url(/assets/images/pattern-dark-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-0);
  border-radius: 16px 16px 0 0;
  padding-block: 5rem 4rem;
}

.cta__title {
  color: var(--clr-neutral-0);
  max-width: calc(16ch - 0.9375rem);
  text-align: center;
  margin-inline: auto;
  margin-bottom: 40px;
}

.cta-wrapper {
  flex-direction: column;
  align-items: center;
}

/* footer */
.footer {
  background-image: url(/assets/images/pattern-dark-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-neutral-900);
  padding-block: 24px 29px;
  color: var(--clr-neutral-0);
}

.footer-wrapper {
  justify-content: space-between;
}

.icons-wrapper {
  gap: 24px;
  align-items: center;
}
