/* martian-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/martian-mono-v3-latin-regular.woff2") format("woff2");
}
/* martian-mono-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/martian-mono-v3-latin-600.woff2") format("woff2");
}
/* martian-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/martian-mono-v3-latin-700.woff2") format("woff2");
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2");
}
/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-latin-600.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-latin-700.woff2") format("woff2");
}

/* CSS RESET — Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  /* colors */
  --clr-neutral-0: hsl(0, 0%, 100%);
  --clr-neutral-100: hsl(17, 41%, 97%);
  --clr-neutral-200: hsl(17, 12%, 89%);
  --clr-neutral-700: hsl(195, 23%, 28%);
  --clr-neutral-900: hsl(194, 78%, 11%);

  --clr-salmon-50: #fff5ef;
  --clr-salmon-100: #fff5ef;
  --clr-salmon-500: #fea36f;

  --clr-gradient: linear-gradient(
    to right,
    var(--clr-salmon-500),
    var(var(--clr-salmon-50))
  );
  --clr-gradient: linear-gradient(
    to right,
    var(--clr-salmon-500),
    var(var(--clr-neutral-900))
  );

  /* font family */
  --ff-headings: "Martian Mono", "Courier New", Courier, monospace;
  --ff-body: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* font weights */
  --fw-500: 600;
  --fw-700: 700;
}

/* REUSABLE STYLES */

/* containers */
.container {
  --max-width: 69.375rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* PAGE STYLES */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
